
<div class="t">
  <mat-card-subtitle>Accounts</mat-card-subtitle>
</div>
<div class="d-flex flex-wrap justify-content-start " >
<mat-card class="flex-grow-1 m-2 p-4 w-25" *ngFor="let data of userData['accounts']">
    <mat-label>Account Number : </mat-label><mat-label class="mat-body-strong">{{ data['accountNumber']}}</mat-label><br/>
    <mat-label>Balance : </mat-label><mat-label class="mat-body-strong">{{ data['balance']}}</mat-label><br/>
    <mat-label>Overdraft : </mat-label><mat-label class="mat-body-strong">{{ data['overdraft']}}</mat-label><br/>
    <mat-label>Type : </mat-label><mat-label class="mat-body-strong">{{ data['type']}}</mat-label><br/>
    <div class="d-flex justify-content-between pt-2">
      <button (click)="deposit(''+data.accountNumber+'')" class="btn btn-info">Deposit</button>
      <button (click)="withdraw(''+data.accountNumber+'')" class="btn btn-secondary">Withdraw</button>
    </div>

</mat-card>

</div>


